---

- name: site oes fetch csdc running
  command: "./oes taskstatus -k DATA_FETCH_SDC -S 2"
  args:
    chdir: "{{ slave_path_oes_home_bin }}"
  when: set_oes_status
  ignore_errors: True

- name: remove OK flag file
  file:
    path: "{{ slave_path_oes_home_data_flags }}/{{ item }}"
    state: absent
  with_items:
    - "{{ fetch_csdc_ok }}"
  ignore_errors: yes

- block:
  - name: clear local csdc file
    file:
      path: "{{ item }}"
      state: absent
    with_fileglob:
      - "{{ ansible_path_files_csdc }}/*"

  - name: print dtzq ftp cmd
    debug:
      msg: "wget  -r -nd -P {{ ansible_path_files_csdc }} {{ csdc_ftp_path }}/{{ pre_trd_date }}/{{ item.name }} "
    when: "item.from_way == 'net'"
    with_items:
      - "{{ csdc_cp_files }}"

  - name: copy csdc file to local by wget
    raw: 'wget  -r -nd -P {{ ansible_path_files_csdc }} {{ csdc_ftp_path }}/{{ pre_trd_date }}/{{ item.name }} '
    when: "item.from_way == 'net'"
    with_items:
      - "{{ csdc_cp_files }}"
    register: ftp_res
    ignore_errors: True

  - name: mon_log to mon
    command: "{{ python3 }} mon_log.py -l error -c 'ftp password error'"
    args:
      chdir: "{{ ansible_path_scripts_files }}"
    when: ftp_res is failed
    ignore_errors: yes

  delegate_to: 127.0.0.1
  run_once: true

- block:
  - name: merge sh_csdc copy list
    set_fact:
      sh_cp_files_list: "{{ sh_cp_files_list | default([]) + [item.name] }}"
    when: "item.from_way == 'dir' and item.se == 'sh'"
    with_items: "{{ csdc_cp_files }}"

  - name: merge sz_csdc copy list
    set_fact:
      sz_cp_files_list: "{{ sz_cp_files_list | default([]) + [item.name] }}"
    when: "item.from_way == 'dir' and item.se == 'sz'"
    with_items: "{{ csdc_cp_files }}"


  - name: get sh-csdc copy list
    find:
      paths: "{{ gateway_path_root_csdc_sh }}"
      get_checksum: yes
      file_type: file
      use_regex: yes
      patterns: "{{ sh_cp_files_list }}"
    when: "sh_cp_files_list is not undefined"
    register: sh_cp_files

  - name: fetch remote sh-csdc file
    fetch:
      src: "{{ item.path }}"
      dest: "{{ ansible_path_files_csdc }}/"
      flat: yes
    loop_control:
      label: "{{ item.path }}"
    when: "sh_cp_files_list is not undefined"
    with_items: "{{ sh_cp_files.files }}"

  - name: get sz-csdc copy list
    find:
      paths: "{{ gateway_path_root_csdc_sz }}"
      get_checksum: yes
      file_type: file
      use_regex: yes
      patterns: "{{ sz_cp_files_list }}"
    when: "sh_cp_files_list is not undefined"
    register: sz_cp_files

  - name: fetch remote sz-csdc file
    fetch:
      src: "{{ item.path }}"
      dest: "{{ ansible_path_files_csdc }}/"
      flat: yes
    loop_control:
      label: "{{ item.path }}"
    when: "sz_cp_files_list is not undefined"
    with_items: "{{ sz_cp_files.files }}"

  delegate_to: csdc_host
  run_once: yes
  ignore_errors: yes

- name: rename SJSKS
  raw: 'mv {{ ansible_path_files_csdc }}/SJSKS* {{ ansible_path_files_csdc }}/SJSKS.DBF'
  ignore_errors: yes
  failed_when: no
  delegate_to: 127.0.0.1
  run_once: true

- name: rename SJSFX
  raw: 'mv {{ ansible_path_files_csdc }}/SJSFX* {{ ansible_path_files_csdc }}/SJSFX.DBF'
  ignore_errors: yes
  failed_when: no
  delegate_to: 127.0.0.1
  run_once: true


