---
- name: rm success or failed flag
  file:
    path: "{{ ansible_flag }}/{{ item }}"
    state: absent
  with_items:
    - "{{ flag_success }}"
    - "{{ flag_failed }}"
    - "{{ flag_retry }}"
    - "{{ flag_running }}"
    - "{{ flag_timeout }}"
    - "{{ flag_error }}"
  delegate_to: 127.0.0.1
  run_once: true

- name: touch running flag
  file:
    path: "{{ ansible_flag }}/{{ flag_running }}"
    state: touch
  delegate_to: 127.0.0.1
  run_once: yes