---

- name: site oes fetch mon running
  command: "./oes taskstatus -k DATA_FETCH_MON -S 2"
  args:
    chdir: "{{ slave_path_oes_home_bin }}"
  when: set_oes_status
  ignore_errors: True

- name: remove OK flag file
  file:
    path: "{{ slave_path_oes_home_data_flags }}/{{ item }}"
    state: absent
  with_items:
    - "{{ fetch_mon_ok }}"
  ignore_errors: yes

- name: ensure TradingDate.txt absent
  file:
    path: "{{ ansible_path_files_mon }}/TradingDate.txt"
    state: absent
  delegate_to: 127.0.0.1
  run_once: true

- block:
  - name: get mon copy list
    find:
      paths: "{{ gateway_path_root_mon }}"
      get_checksum: yes
      file_type: file
      use_regex: yes
      patterns: "{{ mon_cp_files | list }}"
    register: cp_files

  - name: fetch remote mon file
    fetch:
      src: "{{ item.path }}"
      dest: "{{ ansible_path_files_mon }}/"
      flat: yes
    loop_control:
      label: "{{ item.path }}"
    with_items: "{{ cp_files.files }}"

  delegate_to: mon_host
  run_once: yes
  ignore_errors: yes


#- name: scp remote mon file
#  raw: "scp -r {{ mon_user }}@{{ mon_host}}:{{ gateway_path_root_mon }}/{{ item.name }} {{ ansible_path_files_mon }}"
#  with_items: "{{ mon_cp_files }}"
#  ignore_errors: yes
#  delegate_to: 127.0.0.1
#  run_once: true
#  register: scp_mon_file_res

#- name: merge mon copy list
#  set_fact:
#    cp_files_list: "{{ cp_files_list | default([]) + [gateway_path_root_mon + '/' + item.name] }}"
#  with_items: "{{ mon_cp_files }}"
#  ignore_errors: yes
#  delegate_to: 127.0.0.1
#  run_once: true
#
#- name: fetch remote_mon_file
#  fetch:
#    src: "{{ item }}"
#    dest: "{{ ansible_path_files_mon }}/"
#    flat: yes
#  with_fileglob: "{{ cp_files_list }}"
#  delegate_to: "{{ mon_host }}"
#  run_once: yes
#  ignore_errors: yes

