---

- name: is TradingDate.txt exist
  stat:
    path: "{{ ansible_path_files_mon }}/TradingDate.txt"
  register: trading_date_res
  delegate_to: 127.0.0.1
  run_once: yes

- name: to TradingDate.txt
  raw: "echo -e 'EffectiveDate = {{ curr_date }}\nTradingDate = {{ curr_date }}' > {{ ansible_path_files_mon }}/TradingDate.txt"
  when: trading_date_res.stat.exists != true
  delegate_to: 127.0.0.1
  run_once: yes

- name: copy mon file
  synchronize:
    src: "{{ ansible_path_files_mon }}/"
    dest: "{{ slave_path_oes_home_data_monitor }}"
  ignore_errors: yes
