---
- hosts: all
  vars_files:
    - ../../../inventory/vars_files/common_vars.yml
    - ./nakedstart/mds_nakedstart_vars.yml
    - ../../../automatic.yml

  handlers:
    - include: ../common/crontab_handlers.yml

  tasks:
    - include: ../common/get_time.yml

    - include: ./nakedstart/mds_nakedstart.yml

