---

- name: check szse files ready
  find:
    paths: "{{ slave_path_oes_home_data_exchange }}"
    get_checksum: yes
    file_type: file
    use_regex: yes
    patterns: "{{ item }}"
  with_items: "{{ szse_check_files }}"
  register: find_res

- name: print szse files ready
  debug:
    msg: "file ==> {{ item.item }} | matched ==> {{ item.matched }}"
  failed_when: "item.matched == 0"
  with_items: "{{ find_res.results }}"
  loop_control:
    label: "{{ item.item }}"
  ignore_errors: yes
  register: szse_security_files_check_result

- name: send szse files ready to mon
  command: "{{ python3 }} mon_log.py -c 'no such file: {{ item.item }}' >> /dev/null"
  args:
    chdir: "{{ ansible_path_scripts_files }}"
  when: "item.matched == 0"
  with_items: "{{ find_res.results }}"
  loop_control:
    label: "{{ item.item }}"
  delegate_to: 127.0.0.1
  ignore_errors: yes
  run_once: yes

- name: check szse etf files ready
  find:
    paths: "{{ slave_path_oes_home_data_exchange_szse_etf }}"
    get_checksum: yes
    file_type: file
    use_regex: yes
    patterns: "{{ item }}"
  with_items: "{{ etf_check_files }}"
  register: etf_find_res

- name: print szse etf files ready
  debug:
    msg: "file ==>  {{ item.item }} | matched ==> {{ item.matched }} skip_etf={{ skip_etf }}"
  failed_when: "item.matched == 0 and not skip_etf"
  with_items: "{{ etf_find_res.results }}"
  loop_control:
    label: "{{ item.item }}"
  ignore_errors: yes
  register: szse_etf_files_check_result

- name: send szse etf files ready to mon
  command: "{{ python3 }} mon_log.py -c 'no such file: {{ item.item }}' >> /dev/null"
  args:
    chdir: "{{ ansible_path_scripts_files }}"
  when: "item.matched == 0 and not skip_etf"
  with_items: "{{ etf_find_res.results }}"
  loop_control:
    label: "{{ item.item }}"
  ignore_errors: yes
  delegate_to: 127.0.0.1
  run_once: yes

#- name: check szse files ready
#  wait_for:
#    path: "{{ slave_path_oes_home_data_exchange }}/{{item}}"
#    state: present
#    timeout: 1
#  with_items: "{{ szse_check_files }}"
#  register: szse_security_files_check_result
#  ignore_errors: True
#
#- name: check szse etf files ready
#  wait_for:
#    path: "{{ slave_path_oes_home_data_exchange_szse_etf }}/{{item}}"
#    state: present
#    timeout: 1
#  with_items: "{{ szse_etf_check_files }}"
#  register: szse_etf_files_check_result
#  ignore_errors: True

# 合并变量
- name: register check result
  debug:
    msg: "register check result"
  failed_when: "szse_security_files_check_result is failed or szse_etf_files_check_result is failed"
  register: check_result
  run_once: yes
  ignore_errors: yes
