---

- name: create art-oes backup directory
  file:
    path: "{{ ansible_path_backup }}/{{ curr_date }}"
    state: directory
  delegate_to: 127.0.0.1
  ignore_errors: yes
  run_once: yes

- name: backup art-oes files
  archive:
    path: "{{ item.bkup_src }}"
    dest: "{{ ansible_path_backup }}/{{ curr_date }}/{{ item.bkup_name }}-{{ curr_date }}{{ curr_time_hhmm.stdout.strip() }}.tar.gz"
    remove: "no"
  with_items: "{{ art_oes_backup_list }}"
  delegate_to: 127.0.0.1
  ignore_errors: yes
  run_once: yes

- name: clean art backup files
  command: "python clear_dirs.py {{ item.bkup_src }}"
  args:
    chdir: "{{ ansible_path_scripts_files }}"
  when: item.src_remove == "yes"
  with_items: "{{ art_oes_backup_list }}"
  delegate_to: 127.0.0.1
  run_once: true

- name: clean art product files
  command: "python clear_dirs.py {{ item }}"
  args:
    chdir: "{{ ansible_path_scripts_files }}"
  with_items:
    - "{{ ansible_path_files_mon }}"
    - "{{ ansible_path_files_counter }}"
    - "{{ ansible_path_files_exchange }}"
    - "{{ ansible_path_files_csdc }}"
  delegate_to: 127.0.0.1
  run_once: true

- name: create backup directory
  file:
    path: "{{ oes_backup_path }}/{{ curr_date }}"
    state: directory

- name: backup oes specified content
  archive:
    path: "{{ item.bkup_src }}"
    dest: "{{ oes_backup_path }}/{{ curr_date }}/{{ oes_pkg_name }}-{{ item.bkup_name }}-{{ curr_date }}{{ curr_time_hhmm.stdout.strip() }}.tar.gz"
  with_items: "{{ backup_list }}"
  ignore_errors: yes
  register: backup_res

- name: clean oes backup files
  command: "python clear_dirs.py {{ item.bkup_src }}"
  args:
    chdir: "{{ slave_path_oes_home_art }}"
  when: item.src_remove == "yes"
  with_items: "{{ backup_list }}"

- name: backup multi specified content
  command: "python multiprocess_backup_txlog.py -s {{ item.bkup_src }} -b {{ oes_backup_path }}/{{ curr_date }} -m {{ master_available_cpu }} -f {{ follow_available_cpu }} -a {{ arbiter_available_cpu }}"
  args:
    chdir: "{{ slave_path_oes_home_art }}"
  when: item.src_remove == "yes"
  with_items: "{{ backup_multi_list }}"
  ignore_errors: yes

- name: clean mds backup multi files
  command: "python clear_dirs.py {{ item.bkup_src }}"
  args:
    chdir: "{{ slave_path_oes_home_art }}"
  when: item.src_remove == "yes"
  with_items: "{{ backup_multi_list }}"

- name: clean oes old backup files
  command: "python clear_old_backup_files.py -p {{ oes_backup_path }} -k {{ item }} -d {{ clear_old_backup_datas }}"
  args:
    chdir: "{{ slave_path_oes_home_art }}"
  with_items: "{{ clear_old_backup_key_word_list }}"
  when: is_clear_old_backup_files == "yes"
