---

- name: create ansible directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
  - "{{ ansible_path_ansible_home }}"
  - "{{ ansible_path_files }}"
  - "{{ ansible_path_tmp }}"
  - "{{ ansible_path_files_config }}"
  - "{{ ansible_path_files_config }}/{{ se }}"
  - "{{ cfg_file_src_all }}"
  - "{{ ansible_path_files_mon }}"
  - "{{ ansible_path_files_bse }}"
  - "{{ ansible_path_files_sse }}"
  - "{{ ansible_path_files_szse }}"
  - "{{ ansible_path_files_conf }}"
  delegate_to: 127.0.0.1
  run_once: true

- name: create ansible spec directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ cfg_file_src_spec }}"
  delegate_to: 127.0.0.1

- name: create slave directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
  - "{{ slave_path_user_home }}"
  - "{{ slave_path_mds_home }}"
  - "{{ slave_path_mds_home_art }}"
  - "{{ slave_path_mds_home_data }}"
  - "{{ slave_path_mds_home_data_flags }}"
  - "{{ slave_path_mds_home_data_exchange }}"
  - "{{ slave_path_mds_home_data_monitor }}"

- name: unarchive mds_tarpkgs_name
  unarchive:
    src: "{{ ansible_path_files_bin }}/{{ mds_tarpkgs_name }}"
    dest: "{{ ansible_path_files_bin }}"
    copy: no
    list_files: yes
  register: filelists
  delegate_to: 127.0.0.1
  ignore_errors: yes
  run_once: yes

- name: rename mds_tarpkgs_name
  command: "mv {{ filelists.files[0] }} {{ mds_pkg_name }}"
  args:
    chdir: "{{ ansible_path_files_bin }}/"
  when: filelists.files[0][:-1] != mds_pkg_name
  delegate_to: 127.0.0.1
  ignore_errors: yes
  run_once: yes

- name: copy mds files to slave
  synchronize:
    src: "{{ ansible_path_files_bin }}/{{ mds_pkg_name }}"
    dest: "{{ slave_path_user_home }}"

- name: remove directory mds_pkg_name
  shell: "cd {{ ansible_path_files_bin }} && rm -rf {{ mds_pkg_name }}"
  delegate_to: 127.0.0.1
  run_once: yes

- name: create mon script directory
  file:
    path: "{{ mon_deploy_path }}/art"
    state: directory
  delegate_to: mon_host
  run_once: yes
  ignore_errors: yes

