---

#- name: rm local file/counter/logs, data, conf, bin/lib
#  file:
#    path: "{{ item }}"
#    state: absent
#  with_items:
#    - ["{{ ansible_path_files_counter_bin_lib }}"]
#    - ["{{ ansible_path_files_counter_conf }}"]
#    - ["{{ ansible_path_files_counter_data }}"]
##    - ["{{ ansible_path_files_counter_logs }}"]
#  delegate_to: 127.0.0.1
#  run_once: true

- name: backup counter logs
  archive:
    path: "{{ ansible_path_files_counter_logs }}"
    dest: "{{ ansible_path_files_backup }}/counter_logs_{{ curr_date }}{{ curr_time_hhmm.stdout.strip() }}.tar.gz"
  delegate_to: 127.0.0.1
  run_once: yes
  ignore_errors: yes

- name: rm local xcounter_run_fetch_ok
  file:
    path: "{{ ansible_path_files_counter_data_broker }}/{{ xcounter_run_fetch_ok }}"
    state: absent
  delegate_to: 127.0.0.1
  run_once: true


- name: rm local counter/bin_lib, bin/script, conf, data
  command: "find {{ item }} -type f -delete"
  with_items:
    - "{{ ansible_path_files_counter_bin_script }}"
    - "{{ ansible_path_files_counter_bin_lib }}"
    - "{{ ansible_path_files_counter_conf }}"
    - "{{ ansible_path_files_counter_data }}"
    - "{{ ansible_path_files_counter_data_broker }}"
  delegate_to: 127.0.0.1
  run_once: true
  ignore_errors: True

- name: archive oes script files
  archive:
    path:
      - "{{ slave_path_oes_home_bin_lib }}"
      - "{{ slave_path_oes_home_bin_script }}"
      - "{{ slave_path_oes_home_conf }}"
      - "{{ slave_path_oes_home_data }}"
    dest: "{{ slave_path_oes_home }}/xcounter.tar.gz"
    remove: False
  run_once: true
  ignore_errors: True

- name: fetch ufx2oes script files
  fetch:
    src: "{{ slave_path_oes_home }}/{{ item }}"
    dest: "{{ ansible_path_files_counter }}/"
    flat: yes
    fail_on_missing: yes
    validate_checksum: no
  with_items:
    - "xcounter.tar.gz"
  run_once: true
  ignore_errors: True

- name: unarchive oes script files
  command: tar -xzvf xcounter.tar.gz
  args:
    chdir: "{{ ansible_path_files_counter }}"
    warn: False
  delegate_to: 127.0.0.1
  run_once: true
  ignore_errors: True

- name: get counter data
  raw: 'cd {{ ansible_path_files_counter_bin_script }}
        && export LD_LIBRARY_PATH=$PWD:$PWD/../lib && 
        {{ python3 }} $PWD/{{ py_script_main }} {{ counter_fetch_cmd_args }}'
  delegate_to: 127.0.0.1
  run_once: true
  register: collector_counter_result
  ignore_errors: yes

- name: backup broker data
  archive:
    path: "{{ ansible_path_files_counter_data_broker }}"
    dest: "{{ ansible_path_files_backup }}/broker_backup_{{ curr_date }}{{ curr_time_hhmm.stdout.strip() }}.tar.gz"
  delegate_to: 127.0.0.1
  run_once: yes
  ignore_errors: yes
