---

- name: remove OK flag file
  file:
    path: "{{ slave_path_oes_home_data_flags }}/{{ item }}"
    state: absent
  with_items:
    - "{{ fetch_szse_late_ok }}"
  ignore_errors: yes

- name: fetch remote szse file
  shell: python3 run_command.py "rsync -az --no-r -e 'ssh -p {{ ssh_port }}' {{ szse_user }}@{{ szse_host }}:{{ gateway_path_root_exchange_szse }}/{{ item }} {{ ansible_path_files_exchange_szse }}/"
  args:
    chdir: "{{ ansible_path_scripts_files }}"
  with_items: "{{ szse_late_cp_files }}"
  ignore_errors: yes
  delegate_to: 127.0.0.1
  run_once: yes
