---

- name: create art-mds backup directory
  file:
    path: "{{ ansible_path_backup }}/{{ curr_date }}"
    state: directory
  delegate_to: 127.0.0.1
  ignore_errors: yes
  run_once: yes

- name: backup art-mds files
  archive:
    path: "{{ item.bkup_src }}"
    dest: "{{ ansible_path_backup }}/{{ curr_date }}/{{ mds_pkg_name }}-{{ item.bkup_name }}-{{ curr_date }}{{ curr_time_hhmm.stdout.strip() }}.tar.gz"
    remove: "no"
  with_items: "{{ art_mds_backup_list }}"
  delegate_to: 127.0.0.1
  ignore_errors: yes
  run_once: yes

- name: clean art backup files
  command: "python clear_dirs.py {{ item.bkup_src }}"
  args:
    chdir: "{{ ansible_path_scripts_files }}"
  when: item.src_remove == "yes"
  with_items: "{{ art_mds_backup_list }}"
  delegate_to: 127.0.0.1
  run_once: true

- name: clean art product files
  command: "python clear_dirs.py {{ item }}"
  args:
    chdir: "{{ ansible_path_scripts_files }}"
  with_items:
    - "{{ ansible_path_files_mon }}"
    - "{{ ansible_path_files_sse }}"
    - "{{ ansible_path_files_szse }}"
  delegate_to: 127.0.0.1
  run_once: true

- name: create backup directory
  file:
    path: "{{ mds_backup_path }}/{{ curr_date }}"
    state: directory

- name: clean mds data/tick_stoer
  shell: "cd {{ slave_path_mds_home }}/ && rm -rf {{ item }}/*"
  with_items: "{{ mds_clear_dir_before_backup }}"

- name: backup mds specified content
  archive:
    path: "{{ item.bkup_src }}"
    dest: "{{ mds_backup_path }}/{{ curr_date }}/{{ item.bkup_name }}-{{ curr_date }}{{ curr_time_hhmm.stdout.strip() }}.tar.gz"
    remove: "{{ item.src_remove }}"
  with_items: "{{ backup_list }}"
  ignore_errors: yes
  register: backup_res

- name: clean mds backup files
  command: "python clear_dirs.py {{ item.bkup_src }}"
  args:
    chdir: "{{ slave_path_mds_home_art }}"
  when: item.src_remove == "yes"
  with_items: "{{ backup_list }}"

- name: backup multi specified content
  command: "python multiprocess_backup_txlog.py -s {{ item.bkup_src }} -b {{ mds_backup_path }}/{{ curr_date }} -m {{ master_available_cpu }} -f {{ follow_available_cpu }} -a {{ arbiter_available_cpu }}"
  args:
    chdir: "{{ slave_path_mds_home_art }}"
  when: item.src_remove == "yes"
  with_items: "{{ backup_multi_list }}"
  ignore_errors: yes

- name: clean mds backup multi files
  command: "python clear_dirs.py {{ item.bkup_src }}"
  args:
    chdir: "{{ slave_path_mds_home_art }}"
  when: item.src_remove == "yes"
  with_items: "{{ backup_multi_list }}"

- name: clean mds old backup files
  command: "python clear_old_backup_files.py -p {{ mds_backup_path }} -k {{ item }} -d {{ clear_old_backup_datas }}"
  args:
    chdir: "{{ slave_path_mds_home_art }}"
  with_items: "{{ clear_old_backup_key_word_list }}"
  when: is_clear_old_backup_files == "yes"
