---

- name: send xcounter2oes.log to slave logs
  copy:
    src: "{{ ansible_path_files_counter_logs }}/xcounter2oes_main.log"
    dest: "{{ slave_path_oes_home_logs }}"
    owner: "{{ oesuser }}"
    group: "{{ oesuser }}"
    mode: 0644
  ignore_errors: yes

- name: send counter files
  synchronize:
    src: "{{ ansible_path_files_counter_data_broker }}/"
    dest: "{{ slave_path_oes_home_data_broker }}"
  register: collector_counter_files_result
  ignore_errors: yes

- name: send counter capital-flow log to slave logs/
  copy:
    src: "{{ ansible_path_files_counter_logs }}/{{ capital_flow_log_file }}"
    dest: "{{ slave_path_oes_home_logs }}"
    owner: "{{ oesuser }}"
    group: "{{ oesuser }}"
    mode: 0644
  when: "counter.lower() == 'hs'"
  register: send_capital_flow_res
  ignore_errors: yes

- block:
  - stat:
      path: "{{ ansible_path_files_counter_default }}/{{ item }}"
    register: counter_files2
    delegate_to: 127.0.0.1
    run_once: true
    with_items:
      - "{{ default_counter_files2 }}"

  - name: send define counter files 2
    copy:
      src: "{{ item.stat.path }}"
      dest: "{{ slave_path_oes_home_data_broker }}"
      owner: "{{ oesuser }}"
      group: "{{ oesuser }}"
      mode: 0644
    when: item.stat.exists == true
    with_items: "{{ counter_files2.results }}"